@import "tailwindcss";


@theme{
  /* Light theme colors */
  --background: #ffffff;
  --foreground: #000000;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #6b7280;
  --secondary-foreground: #ffffff;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --color-ptext: #1D2B3A;
  --color-stext: #4B5563;
  --color-ttext: #FDFDFD;
  --color-card: #FFF6D8;

}




@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}