@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme{
  /* Light theme colors */
  --background: #ffffff;
  --foreground: #000000;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #6b7280;
  --secondary-foreground: #ffffff;
  --accent: #10b981;
  --accent-foreground: #ffffff;
  --color-ptext: #1D2B3A;
  --color-stext: #4B5563;
  --color-ttext: #FDFDFD;
  --color-card: #FFF6D8;
  --canvas-ink: #4B5563;
}

[data-theme='dark'] {
  --color-background: #1F2937;
  --foreground: #F3F4F6;
  --primary: #2563EB;
  --primary-foreground: #ffffff;
  --secondary: #4B5563;
  --secondary-foreground: #ffffff;
  --accent: #059669;
  --accent-foreground: #ffffff;
  --color-ptext: #ffffff;
  --color-stext: #D1D5DB;
  --color-ttext: #FDFDFD;
  --color-card: #0315139c;
  --canvas-ink: #FDFDFD;

}



@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}